<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Curve Point</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/curvePoint/validate}"
              th:object="${curvePoint}"
              method="post" class="form-horizontal" style="width: 100%">
            <!--
            TODO: Create a form to input the values of CurvePoint, there are 2 buttons: Save data and Cancel to the list CurvePoint
            -->
            <input type="text" th:field="*{curveId}"
                   class="form-control mb-4 col-4" placeholder="Curve Id">
            <input type="text" th:field="*{asOfDate}" placeholder="As of Date"
                   class="form-control mb-4 col-4"
                   value="2020-11-17T00:00"
                   min="2020-11-17T00:00" max="2099-12-31T23:59">
            <input type="text" th:field="*{term}"
                   class="form-control mb-4 col-4" placeholder="Term">
            <input type="text" th:field="*{value}"
                   class="form-control mb-4 col-4" placeholder="Value">
            <button type="submit" class="btn btn-info col-2">Save</button>

            <a class="btn btn-danger col-2" th:href="@{/bidList/list}"
               role="button"
               th:onclick="if (!(confirm('Are you sure you want to cancel?'))) return false">
                Cancel
            </a>

        </form>
    </div>

</div>
</body>
</html>