<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <title>Access Denied</title>
        <link rel="stylesheet" href="../static/css/errorStyle/404Style.css">
        <link rel="stylesheet" th:href="@{/css/errorStyle/404Style.css}" href="../static/css/errorStyle/404Style.css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row bg-dark text-light">
                <div class="col-6 mt-2">
                    <a href="/" role="button" class="btn btn-primary text-left">Home</a>
                </div>
                <div class="col-6 text-right">
                    Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]]</b>
                    <form th:action="@{/logout}" method="POST">
                        <input class="btn btn-warning" type="submit" value="Logout" role="button"/>
                    </form>
                </div>
            </div>
            <section class="page_404">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-10 col-sm-offset-1  text-center">
                            <div class="four_zero_four_bg">
                                <h1 class="text-center text-danger">Access Denied!!</h1>
                            </div>

                            <div class="content_box_404">
                                <h3 class="h2 text-info">
                                    You don't have access to the requested content!!
                                </h3>
                                <p>The page you're looking for cannot be displayed!</p>
                                <p><span style='font-size:50px;'>&#128272;</span></p>
                                <a class="btn btn-info col-2" th:href="@{/bidList/list}"
                                   role="button">
                                    Go Back Home
                                </a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="source_code">
                    <p>Original source code can be found
                        <a href="https://codepen.io/Navedkhan012/pen/vrWQMY">here</a></p>
                </div>

            </section>
        </div>

    </body>
</html>