<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Trade</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/trade/validate}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
            <input type="text" th:field="*{account}"
                   class="form-control mb-4 col-4" placeholder="Account">

            <input type="text" th:field="*{type}"
                   class="form-control mb-4 col-4" placeholder="Type">
            <input type="text" th:field="*{buyQuantity}"
                   class="form-control mb-4 col-4" placeholder="Buy Quantity">
            <input type="text" th:field="*{sellQuantity}"
                   class="form-control mb-4 col-4" placeholder="Sell Quantity">
            <input type="text" th:field="*{buyPrice}"
                   class="form-control mb-4 col-4" placeholder="buy Price">
            <input type="text" th:field="*{sellPrice}"
                   class="form-control mb-4 col-4" placeholder="Sell Price">
            <input type="text" th:field="*{benchmark}"
                   class="form-control mb-4 col-4" placeholder="Benchmark">
            <input type="text" th:field="*{security}"
                   class="form-control mb-4 col-4" placeholder="Security">
            <input type="text" th:field="*{status}"
                   class="form-control mb-4 col-4" placeholder="Status">
            <input type="text" th:field="*{trader}"
                   class="form-control mb-4 col-4" placeholder="Trader">
            <input type="text" th:field="*{book}"
                   class="form-control mb-4 col-4" placeholder="Book">
            <input type="text" th:field="*{creationName}"
                   class="form-control mb-4 col-4" placeholder="Creation Name">
            <input type="text" th:field="*{dealName}"
                   class="form-control mb-4 col-4" placeholder="Deal Name">
            <input type="text" th:field="*{dealType}"
                   class="form-control mb-4 col-4" placeholder="Deal Type">
            <input type="text" th:field="*{sourceListId}"
                   class="form-control mb-4 col-4" placeholder="Source List Id">
            <input type="text" th:field="*{side}"
                   class="form-control mb-4 col-4" placeholder="Side">

            <button type="submit" class="btn btn-info col-2">Save</button>

            <a class="btn btn-danger col-2" th:href="@{/trade/list}"
               role="button"
               th:onclick="if (!(confirm('Are you sure you want to cancel?'))) return false">
                Cancel
            </a>
            <br><br><br><br>



        </form>
    </div>

</div>
</body>
</html>