<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Update Bid</h2>
    </div>

    <div class="row">

        <form action="#" th:action="@{/bidList/update/{id}(id=${bidList.bidListId})}"
              th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">

            <input type="hidden" th:field="*{bidListId}">
            <input type="text" th:field="*{account}"
                   class="form-control mb-4 col-4" placeholder="Account">
            <input type="text" th:field="*{type}"
                   class="form-control mb-4 col-4" placeholder="Type">
            <input type="text" th:field="*{bidQuantity}"
                   class="form-control mb-4 col-4" placeholder="Bid Quantity">
            <input type="text" th:field="*{askQuantity}"
                   class="form-control mb-4 col-4" placeholder="Ask Quantity">
            <input type="text" th:field="*{bid}"
                   class="form-control mb-4 col-4" placeholder="Bid">
            <input type="text" th:field="*{ask}"
                   class="form-control mb-4 col-4" placeholder="Ask">
            <input type="text" th:field="*{benchmark}"
                   class="form-control mb-4 col-4" placeholder="Benchmark">
            <input type="hidden" th:field="*{bidListDate}">
            <input type="text" th:field="*{commentary}"
                   class="form-control mb-4 col-4" placeholder="Commentary">
            <input type="text" th:field="*{security}"
                   class="form-control mb-4 col-4" placeholder="Security">
            <input type="text" th:field="*{status}"
                   class="form-control mb-4 col-4" placeholder="Status">
            <input type="text" th:field="*{trader}"
                   class="form-control mb-4 col-4" placeholder="Trader">
            <input type="text" th:field="*{book}"
                   class="form-control mb-4 col-4" placeholder="Book">
            <input type="hidden" th:field="*{creationName}">
            <input type="hidden" th:field="*{creationDate}">
            <input type="text" th:field="*{revisionName}"
                   class="form-control mb-4 col-4" placeholder="Revision Name">
            <input type="text" th:field="*{dealName}"
                   class="form-control mb-4 col-4" placeholder="Deal Name">
            <input type="text" th:field="*{dealType}"
                   class="form-control mb-4 col-4" placeholder="Deal Type">
            <input type="text" th:field="*{sourceListId}"
                   class="form-control mb-4 col-4" placeholder="Source List Id">
            <input type="text" th:field="*{side}"
                   class="form-control mb-4 col-4" placeholder="Side">
            <button type="submit" class="btn btn-info col-2">Update</button>

            <a class="btn btn-danger col-2" th:href="@{/bidList/list}"
               role="button"
               th:onclick="if (!(confirm('Are you sure you want to cancel? All changes will be discarded'))) return false">
                Cancel
            </a>
            <br/><br/><br/><br/>

        </form>

    </div>

</div>
</body>
</html>